CIBBoomerang.xcodeproj/project.xcworkspace/xcuserdata/*
CIBBoomerang.xcodeproj/xcuserdata/*
*.xcbkptlist
CIBBoomerang.xccheckout
CIBBoomerang.xcodeproj/project.xcworkspace/xcuserdata/kategridina.xcuserdatad/UserInterfaceState.xcuserstate
CIBBoomerang.xcodeproj/xcuserdata/kategridina.xcuserdatad/xcschemes/xcschememanagement.plist
